/* Empty. Add your own CSS if you like */

.item-floating-label {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}
.input-label {
    color: #6FC6FF
}
.loginbutton {
    display: block;
    width: 80%;
    margin: 40px auto 0 auto;
    border-color: #65D7E8;
}
.loginbutton:active {
    background: #65D7E8;
}
.loginbg {
    background: url(../img/login.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.loginform{
	background: rgba(255,255,255,0.8);
	padding: 20px 10px; 
	border-radius: 3px;
}

.loginform a{
	display: block;
	text-align: center;
}

[ion-view]{
	margin-top: 30px;
}

#map { position:absolute; top:0; bottom:0; width:100%; }

.leaflet-control-attribution,
.leaflet-control-zoom{
   display: none;
}