*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  font-family: 'Muli', sans-serif;
  background:rgba(242,239,225,0.9)
}

::-webkit-input-placeholder {
   color: #c9c9c9;
}

:-moz-placeholder { /* Firefox 18- */
   color: #c9c9c9;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #c9c9c9;  
}

:-ms-input-placeholder {  
   color: #c9c9c9;  
}


input:focus::-webkit-input-placeholder {
   color: #969696;
}

input:focus:-moz-placeholder { /* Firefox 18- */
   color: #969696;  
}

input:focus::-moz-placeholder {  /* Firefox 19+ */
   color: #969696;  
}

input:focus:-ms-input-placeholder {  
   color: #969696;  
}

input:focus

.date{
  font-family: "futura-pt";
}

#nprogress {
  pointer-events: none;
}

.container,
.messageform{
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.container{
  height: 100%;
}
/*
.messageform{
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}*/

#nprogress .bar {
  background: #29d;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

button{
  transition-duration: .3s;
  color: #000;
  border: 1px solid #000;
  border-radius: 3px;
  background: 0 0;
  text-shadow: none;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  font-weight: lighter;
  -webkit-appearance:none;
  height: 50px;
}

button:active{
  outline: none;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3),0 1px 0 #fff;
  text-shadow: 0 1px 0 rgba(255,255,255,.4);
  transition-duration: 0s;
  background: 0 0;
  color: #222;
  border: 1px solid #222;
}

form input,
form textarea,
form button{
  float: left;
  clear: both;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  border-radius: none;
  outline: 0;
}

form input,
form textarea{
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  margin-bottom: 10px;
}

form textarea{
  margin-bottom: 50px;
  height: 150px;
}

form input:focus,
form textarea:focus{
  border-bottom: solid 2px #969696;
}

.loginform{
  width: 80%;
  padding: 20px;
  margin: 0 auto;
}

.loginform h1{
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}

.loginform input{
  background: transparent;
}

.loginbutton{
  margin-top: 30px;
}

.movereg{
  color: #000;
  text-decoration: underline;
  text-align: center;
  width: 100%;
  margin-top: 15px;
  display: block;
  float: left;
}

[ui-view].ng-enter, [ui-view].ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
[ui-view].ng-enter {
    opacity: 0;
}
[ui-view].ng-enter-active {
    opacity: 1;
}
[ui-view].ng-leave {
    opacity: 1;
}
[ui-view].ng-leave-active {
    opacity: 0;
}

/*MESSAGE*/

.messageform{
  padding: 30px;
}

.messageform input,
.messageform textarea{
  background: transparent;
}



/*NAVIGATE*/

.card_bg{
  background-image: url(../img/bg_nav.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.navigate_wrapper{
  background-color: rgba(242,239,225,0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.compass,
.compass_item,
.compass_wrapper{
  width: 260px;
  height: 260px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -130px 0 0 -130px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
/*  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;*/
}

.compass_wrapper {
margin-top: -180px;
}

.compass_item{
  top: 0;
  left: 0;
  margin: 0 !important
}

.compass_wrapper{
  background: url(../img/nadel.png);
  background-size: 100%;
}

.compass_item p{
  text-align: center;
  position: relative;
  width: 100%;
  margin-top: -40px
}

.compass_item:after{
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  background: url(../img/nadel_einzeln_2.png);
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.compass_item.full:after{
  background: url(../img/nadel_einzeln.png);
  background-size: 100%;
}

/*NAVIGATE FOOTER*/

.messagecanread{
  position: absolute;
  z-index: 100;
  background-image: url(../img/book.png);
  background-size: 50%;
  background-position: 20px 23px;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  padding: 15px 0;
  background-color: #be6d5f;
  left: 50%;
  bottom: 42px;
  margin-left: -40px;
  border-radius: 50%;
}


.pulse {
  border: 10px solid #be6d5f;
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: pulse 2s ease-out;
  -moz-animation: pulse 2s ease-out;
  animation: pulse 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  height: 140px;
  width: 140px;
  bottom: 12px;
  left: 50%;
  z-index: 0;
  opacity: 0;
  margin-left: -70px;
}

@-moz-keyframes pulse {
 0% {
    -moz-transform: scale(0);
    opacity: 0.0;
 }
 25% {
    -moz-transform: scale(0);
    opacity: 0.1;
 }
 50% {
    -moz-transform: scale(0.1);
    opacity: 0.3;
 }
 75% {
    -moz-transform: scale(0.5);
    opacity: 0.5;
 }
 100% {
    -moz-transform: scale(1);
    opacity: 0.0;
 }
}

@-webkit-keyframes "pulse" {
 0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
 }
 25% {
    -webkit-transform: scale(0);
    opacity: 0.1;
 }
 50% {
    -webkit-transform: scale(0.1);
    opacity: 0.3;
 }
 75% {
    -webkit-transform: scale(0.5);
    opacity: 0.5;
 }
 100% {
    -webkit-transform: scale(1);
    opacity: 0.0;
 }
}




.footer{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
}

.footer a{
  color: #646464;
}

.postmessage{
  position: absolute;
  background: url(../img/plus.png);
  width: 40px;
  height: 40px;
  background-size: 100%;
}

.settingsicon,
.showcard,
.postmessage{
  top: 19px;
  font-size: 40px;
  position: absolute;
}

.postmessage{
  top: 18px;
}

.settingsicon{
  left: 30px;
}

.showcard,
.postmessage{
  right: 30px
}


/*SHOW MESSAGE*/

.postback{
  width: 75px;
  height: 75px;
  display: block;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
}

.postback div{
  border-top: 3px solid black;
  border-left: 3px solid black;
  height: 30px;
  width: 30px;
  transform: rotate(-45deg);
  position: absolute;
  top: 19px;
  left: 25px;
}

.post .image{
  height: 33vh;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  box-shadow: inset 0 -10px 10px -10px #000000;
  -moz-box-shadow: inset 0 -10px 10px -10px #000000;
  -webkit-box-shadow: inset 0 -10px 10px -10px #000000;
}

.post .time{
  color:#7dc9c9;
  font-family: "futura-pt",'Muli', sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
}

.post h1{
  color: #646464;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.post article{
  margin-top: 20px;
}

.post h1,
.post article{
  padding: 0 40px;  
}



/*TIMELINE*/

.compassback{
  position: fixed;
  bottom: 120px;
  left: 50%;
  width: 60px;
  height: 60px;
  background: url(../img/kompass.png);
  background-size: cover;
  margin-left: -30px;
}

::-webkit-scrollbar { width: 0 !important; display: none !important; opacity: 0 !important; }
:-webkit-scrollbar { width: 0 !important; display: none !important; opacity: 0 !important; }

.time_wrapper{
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  /*-webkit-overflow-scrolling: touch !important;*/
}

.time_wrapper li,
.time_wrapper a {
    position: relative;
    /*-webkit-transform: translateZ(0px);*/
}

.time_inner{
  width: 1160px;
}

.time_inner ul{
  margin-bottom: 0;
}

.time_inner ul li{
  float: left;
  padding: 20px;
}

.time_inner ul li a{
  width: 250px;
  height: 250px;
  float: left;
  /*padding: 20px;*/
  background-size: cover !important;
}

.time_inner ul li a p{
  text-align: center;
  background: rgba(0,0,0,0.8);
  color: #fff;
  padding: 10px 20px
}

.time_inner .timeholder{
  font-size: 20px;
  text-align: center;
}

.timeline_bg{
  width: 100%;
  height: 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #ccc;
}

.timeline_wrapper{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 81px;
  overflow: hidden;
  /*-webkit-overflow-scrolling: touch !important;*/
  left: 0;
}

.timeline_inner{
  width: 100%;
  height: 40px;
  margin-top: 41px;
}

.timeline_inner div{
  float: left;
}

.timeline_inner span{
  float: left;
  width: 1px;
  height: 40px;
  background: #000;
  margin: 0 8px;
  position: relative;
}

.timeline_inner span.big{
  width: 2px;
  height: 60px;
  margin-top: -20px;
}

.timeline_inner span.big:before{
  content: attr(year);
  position: absolute;
  top: -20px;
  left: -15px;
  font-size: 14px;
}

.timeline_inner div:last-child .big:before{
  left: -30px; 
}

/*ICON FONTS*/

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?-5a7sep');
  src:url('fonts/icomoon.eot?#iefix-5a7sep') format('embedded-opentype'),
    url('fonts/icomoon.woff?-5a7sep') format('woff'),
    url('fonts/icomoon.ttf?-5a7sep') format('truetype'),
    url('fonts/icomoon.svg?-5a7sep#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-compass:before {
  content: "\e600";
}

.icon-location:before {
  content: "\e947";
}

.icon-facebook30:before {
  content: "\e601";
}

.icon-settings21:before {
  content: "\e602";
}