<form ng-submit="login(user,password)" class="loginform">
    <div class="list">
        <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input required ng-model="data.email" autofocus type="email" placeholder="Email">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Passwort</span>
            <input required ng-model="data.password" type="password" placeholder="Passwort">
        </label>
        <button type="submit" class="button loginbutton button-outline button-positive">
        Login
        </button>
    </div>
    <a href="/register">oder melde dich an</a>
</form>