<form ng-submit="login()" class="loginform">
    <h1>Login</h1>
    <div class="list">
        <label>
            <input required ng-model="data.email" autofocus type="email" placeholder="Email">
        </label>
        <label>
            <input required ng-model="data.password" type="password" placeholder="Passwort">
        </label>
        <button type="submit" class="button loginbutton button-outline button-positive">
            Login
        </button>
    </div>
    <a href="/register" class="movereg">oder melde dich an</a>
</form>