<div class="messageform">
    <form ng-controller="Message" ng-submit="sendMessage()">
        <input focus="true" required ng-model="Message.title" type="text" placeholder="Titel deiner Geschichte"><br><br>
        <input required ng-model="Message.date[0]" type="date" placeholder="Datum"><br><br>
        <textarea style="height:200px" required ng-model="Message.message" placeholder="Schreibe was passiert ist..."></textarea><br><br>
        

        <div class="photoplaceholder" ng-click="focusFileInput()">
            <input required file-model="photo" type="file"/>
        </div>

        <div class="img_place_wrapper">
            <img id="imageplace">
        </div>
        

        <button type="submit" class="button loginbutton button-outline button-positive">
            Geschichte Speichern
        </button>
    </form>
    <button style="margin-top:20px;" class="button" ng-click="cancel()">Abbrechen</button>
</div>