<div class="navigate_wrapper">
    <div class="compass_wrapper">
        <div class="compass">
            <div class="compass_item" ng-repeat="message in messages" id="{{message.id}}">
                <p>{{message.distance | distance}}</p>
            </div>
        </div>
    </div>
</div>
<div class="card_bg"></div>

<div class="footer">
	<a href="/settings" class="icon-settings21 settingsicon"></a>
    <div ng-show="lesen" ng-class="{fadeIn : lesen,animated : lesen}" class="pulse"></div>
    <a ng-show="lesen" ng-class="{bounceIn : lesen,animated : lesen}" href="/post/{{href_}}" class="messagecanread"></a>
    <a href="/message" class="postmessage"></a>
</div>