
body,html{
  margin: 0;
  padding: 0;
/*  font-family: 'Oswald', sans-serif;*/
  font-family: 'Muli', serif;
  background-color: #f3f1e4; 
}


.testklick div{
	display: inline-block;
	width: 700px;
	height: auto;
	color: #ffffff;
	background-color: #C60B0E;
  padding: 10px;
}

/* --- Buisnesplan --- */
.businessnav{
  /*background-color: #C60B0E;*/
  margin-left:-40px;
  margin-right:20px;
}

.businessnav li{
  color: #ffffff;
  background-color: #C60B0E;
  display: inline-block;
  width:180px;
  padding: 10px;
  font-size: 15px;
  list-style: none;
}

.businessplan h1{
  letter-spacing: 0.02em;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  margin-left: -12px;
  line-height: 1.2;
  margin-top: 10px;
  margin-bottom: 14px;
  color: #646464;
}

.businessnav li:hover {
  background-color: #f3f1e4;
  color: #646464;
  cursor: pointer;
}

.plan{
  display:none;
  height: 500px;
}

.active-plan{
  display: inline-block;
}

/* --- Finanzierungsplan --- */
.finanzierungstabelleformate li{
  color: #ffffff;
  background-color: #C60B0E;
  display: inline-block;
  margin-right: 25px;
  width:180px;
  padding: 10px;
  font-size: 15px;
  list-style: none;
  text-align: center;
}

.finanzierungstabelleformate li:hover{
cursor: pointer;
}

.finanzierungstabelleformate a{
color: #ffffff;
}

/* --- Statusreports --- */

.statusreports li{
  font-size: 22px;
  list-style: circle;
  margin-left: 50px;
}

.report{
display:none;
}

.active-report{
  display: inline-block;
  min-height: 550px;
}

#previousreport{
  height: 50px;
  margin-right: 154px;
}

#previousreport:hover{
  opacity: 0.5;
  cursor: pointer;
}

#nextreport{
  height: 50px;
  float: right;
}

#nextreport:hover{
  opacity: 0.5;
  cursor: pointer;
}

.reportnav{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.reportdotsnav{
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}
.reportdotsnav li{
  display: inline-block;
  font-size: 30px;
  margin-right: 5px;
}

.reportdot{
  color:#646464;
  opacity: 0.5;
}

.active-reportdot{
  opacity: 1;
}



.pushy a,
.profiles p{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.NewChapter{
  background-color: #777777;
  background-image: url(../img/chapters/Dieburg_Schloss_Fechenbach.jpg);
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0 10px 50px rgba(53,53,53,0.50);
  box-shadow: inset 0 10px 50px rgba(53,53,53,0.50);
  background-position: center 0%;
  background-attachment: scroll;
  margin-bottom: 20px;
  margin-top: 140px;

}

#chaptermanagement{
  background-image: url(../img/chapters/time-management.jpg);
}


#chapterprogramming{
  background-image: url(../img/chapters/prog.jpg);
}

#chapterquellen{
  background-image: url(../img/chapters/quellen.jpg);
}

#FirstChapter img{
  display: block;
  width: 500px;
  margin: auto;
}

#FirstChapter p{
  margin-top: -100px;
  color: #ffffff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 40px;
  text-shadow: 0px 0px 5px #646464;
}

#FirstChapter{
  background-color: #777777;
  background-image: url(../img/chapters/Dieburg_Schloss_Fechenbach.jpg);
  height: 600px;
  width: 1100px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0 10px 50px rgba(53,53,53,0.50);
  box-shadow: inset 0 10px 50px rgba(53,53,53,0.50);
  background-position: center 0%;
  background-attachment: scroll;
  margin-bottom: 20px;
  /*margin-top: -140px;*/
  margin-left: -125px;
}

.trailer{
  display: inline-block;
  width:auto;
  box-shadow: 0px 0px 10px #aaaaaa;
  margin-right: auto;
  border: solid 5px;
  border-color: #ffffff;
}

.NewChapterTextbox{
  width: 800px;
  /*margin-left: auto;
  margin-right: auto;*/
  margin: 0 auto;
}

.NewChapterTextbox h1{
  color: #ffffff;
  text-align: center;
  padding-top: 120px;
  font-family: 'Roboto', sans-serif;
  font-style: bold;
  font-size: 60px;
  text-shadow: 0px 0px 5px #646464;
}

.quellenangaben li{
  list-style: circle;
  margin-left: 25px;
}

.animated{
  visibility: hidden;
}

.visible{
  visibility: visible;
}

.hidden{
  overflow: hidden;
}

article p{
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 1.5;
}


/*h2,
h3,
h4,
h5{
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  color:#646464;
}*/


article h1{
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  margin-left: -12px;
  line-height: 1.2;
  margin-top: 40px;
  margin-bottom: 14px;
}

article h2{
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  margin-left: -12px;
  line-height: 1.2;
  margin-top: 10px;
  margin-bottom: 14px;
  color: #646464;
}

article h3{
  font-style: italic;
color: #646464;
}

article figure{
  position: relative;
  margin: 80px 0;
  clear: both;
  outline: none;
  box-sizing: border-box;
}

article figure img{
  display: block;
  margin: 0 auto;
  box-shadow: 0px 0px 10px #aaaaaa;
}

.imageCaption{
  position: absolute;
  left: -172px;
  width: 150px;
  top: 0;
  text-align: right;
  margin-top: 0;
  font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  line-height: 1.4;
  color: rgba(0,0,0,0.6);
  outline: 0;
  z-index: 300;
}

.imageCaption:before{
  width: 25%;
  margin-left: 75%;
  border-top: 1px solid rgba(0,0,0,0.15);
  display: block;
  content: "";
  margin-bottom: 10px;
}

blockquote{
  line-height: 1.4;
  text-align: center;
  font-size: 32px;
  margin: 48px -160px;
  border: none;
  padding: 0;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: italic;
}

article iframe{
  margin: 30px 0;
}

/*CONTAINER*/
#container{
  padding-top: 100px;
  width: 800px;
  margin-left: 300px;
}

/*LOADING BAR*/

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

/*ICON STYLE*/
.menu-btn {
  margin: 0 0 0 20px;
  display: block;
  width: 65px;
  height: 65px;
  position: fixed;
  top: 15px;
  z-index: 1000;
}

.menu-btn:hover{
  cursor: pointer;  
}

svg path{
  stroke: #000;
  fill:#000;
}

/*TRENNER*/

.trenner{
  width: 100%;
  height: 80px;
  float: left;
  position: relative;
  margin: 50px 0;
}

.trenner:before{
  position: absolute;
  content: "";
  left: 50%;
  top: 38px;
  margin-left: -100px;
  width: 200px;
  height: 2px;
  background: #ccc;
}

/*PROFILES*/

.profiles img{
  display: block;
  margin: 0 auto;
  clear: both;
}

.profiles h3{
  font-style: normal;
  text-align: center;
  margin-top: 30px;
}

.profiles p{
  font-size: 16px;
  line-height: 26px;
  margin-top: 20px;  
  text-align: center;
}

/*
.profiles p.active{
  visibility: visible !important;
  opacity: 1 !important;
}*/

/*MENU STYLE*/

.pushy{
    position: fixed;
    width: 320px;
    height: 100%;
    top: 0;
    z-index: 9999;
    background: transparent;
    font-size: 0.9em;
    font-weight: bold;
    overflow: auto;
    -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
    padding-top: 10px;
}

.pushy a{
    font-weight: 300;
    display: block;
    color: #666;
    padding: 5px 10px;
    text-decoration: none;
}

.pushy li ul a span{
  margin-right: 7px;
}

.pushy a.main{
  font-weight: bolder;
  color: #222
}

.pushy a:hover{
    color: #000;
}

.pushy a.active{
  text-decoration: underline;
}

.pushy-left{
    -webkit-transform: translate3d(-320px,0,0);
    -moz-transform: translate3d(-320px,0,0);
    -ms-transform: translate3d(-320px,0,0);
    -o-transform: translate3d(-320px,0,0);
    transform: translate3d(-320px,0,0);
}

.pushy-open{
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.container-push, .push-push{
    -webkit-transform: translate3d(320px,0,0);
    -moz-transform: translate3d(320px,0,0);
    -ms-transform: translate3d(320px,0,0);
    -o-transform: translate3d(320px,0,0);
    transform: translate3d(320px,0,0);
}

.menu-btn-push{
    margin-left:200px;
}

/* Menu Transitions */
.pushy, #container, .push, .menu-btn{
    -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
    -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
    -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
    transition: transform .2s cubic-bezier(.16, .68, .43, .99);
}


/*SCROLLPANE*/


/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
  overflow: hidden;
  position: relative;
}

.jspPane
{
  position: absolute;
}

.jspVerticalBar
{
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
}

.jspHorizontalBar
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;

}

.jspCap
{
  display: none;
}

.jspHorizontalBar .jspCap
{
  float: left;
}

.jspTrack
{
  background: transparent;
  position: relative;
}

.jspDrag
{
  background: #000;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
  float: left;
  height: 100%;
}


.jspVerticalBar .jspArrow
{
  height: 16px;
}

.jspHorizontalBar .jspArrow
{
  width: 16px;
  float: left;
  height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
  outline: none;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
  margin: 0 -3px 0 0;
}


@media screen and (max-width: 1260px) {
  #container{
    width: 100%;
    margin-left: 0;
    padding-left: 300px; 
  }
}


/*Table*/


table{
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  border-collapse: collapse;
  border-spacing: 0;
}

thead{
  display: table-header-group;
  vertical-align: middle;
  border-top-color: inherit;
  border-right-color: inherit;
  border-bottom-color: inherit;
  border-left-color: inherit;
}

tr{
  display: table-row;
  vertical-align: inherit;
  border-top-color: inherit;
  border-right-color: inherit;
  border-bottom-color: inherit;
  border-left-color: inherit;
}



th,td{
  border-style: dashed;
  border-width: 1px;
  border-color: #ccc;
  padding: 8px;
}

th{
  border-style: solid;
  font-weight: bolder;
  border-color: #000;
}

