<ion-view class="loginbg">
<ion-content class="padding">
<form ng-submit="register()" class="loginform">
    <div class="list">
        <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input required ng-model="data.email" autofocus type="email" placeholder="Email">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Passwort</span>
            <input required ng-model="data.password" type="password" placeholder="Passwort">
        </label>
        <button type="submit" class="button loginbutton button-outline button-positive">
            Registrieren
        </button>
    </div>
    <a href="#/login">oder logge dich ein</a>
</form>
</ion-content>
</ion-view>